body {
  margin: 0;
  padding: 0;
  background-color: #9CAF88;
}


ul { /*Menu*/
  list-style-type: none; 
  margin: 0;
  padding: 5;
  overflow: auto;
  background-color: #333333;
}

ul li {
  float: left;
  position: fixed;
}


ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


